<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Phat Huynh Portfolio</title>

    </head>
    <body>
        <!--Header-->
        <header>
            <h1>WELCOME TO PHAT HUYNH SPACE!</h1>
            <nav>
                <!--Unordered list elements-->
                <ul>
                    <!--List item elements-->
                    <li>
                        <a href="#about-me">About Me</a>
                    </li>
                    <li>
                        <a href="#work">Work</a>
                    </li>
                    <li>
                        <a href="#contact-me">Contact Me</a>
                    </li>
                    <li>
                        <a href="./resume.html">Resume</a>
                    </li>
                </ul>
            </nav>
        </header>

         <!-- hero/jumbotron -->
         <section class="hero">
            <img class="image2" src="./assets/images/Pic.png" alt="employee photo"/>
            <div>
                <h2>DATA SCIENCE AND WEB DEVELOPER</h2>
            </div>
        </section>

         <!-- About section -->
         <section id="about-me" class="about">
            <div class="flex-row">
              <h2 class="section-title">About Me</h2>
            </div>
            <div class="step-info">
                <div class="vl-border1">
            </div>
                <div class="step-text">
                    <p>
                        My name is Huynh Tan Phat, I am currently live in HCMC.I am a foodie and love to explore anything that lastest released.</br> My ambition will be graduated from university of Economics and Law and IBM coding bootcamp.
                        During the course we learnt creating beatiful, usable, professional websites using best practice accessibility and the latest W3 web standard guidelines resulting in semantic and seo friendly HTML and CSS.</br>
                        I design websites that convert visitors into customers and help your business grow. Given links to some of my websites to showcase my potential to fit for a given position.<br/>
                        All the Websites linked below are designed, built according to latest web standards.
                    </p>
                </div>
         </section>


         <!-- Work section -->
        <section id="work" class="about">
            <div class="flex-row ">
              <h2 class="section-title">Work done</h2>
            </div>
            <div class="step-info">
                <div class="vl-border2">
                </div>
                <!--CSS grid of images-->
                <div class="container">
                   <div class="gallery">
                    <figure class="gallery__item gallery__item--1">
                        <a href="https://uot-project1-group07.github.io/project1-group07/">
                            <img src="./assets/images/covid.png" class="gallery__img" alt="Run buddy website">
                            <figcaption>Covid Positivity</br>HTML CSS</figcaption>
                        </a>
                        </figure>

                      <figure class="gallery__item gallery__item--2">
                          <a href="https://mnmlize.herokuapp.com/">
                            <img src="./assets/images/pim.png" class="gallery__img" alt="Website 2">
                            <figcaption>MNMLIZE</br>Node Express</figcaption>
                          </a>
                      </figure>

                      <figure class="gallery__item gallery__item--3">
                        <a href="https://anagha778.github.io/horiseon/">
                            <img src="./assets/images/horiseon.png" class="gallery__img" alt="Horiseon website">
                            <figcaption>Horiseon</br>HTML CSS</figcaption>
                        </a>
                      </figure>

                      <figure class="gallery__item gallery__item--4">
                        <a href="#">
                            <img src="./assets/images/image44.jpg" class="gallery__img" alt="Website 4">
                            <figcaption>Website 4</br>Mern Stack</figcaption>
                        </a>
                      </figure>

                      <figure class="gallery__item gallery__item--5">
                        <a href="#">
                            <img src="./assets/images/image11.jpg" class="gallery__img" alt="Website 5">
                            <figcaption>Website 5</br>HTML Stack</figcaption>
                        </a>
                      </figure>
                    </div>
                </div>
            </div>
              </section>

               <!-- Contact me section -->
               <section id="contact-me" class="about">
                <div class="flex-row">
                    <h2 class="section-title">Contact Me</h2>
                </div>
            <div class="step-info">
                <div class="vl-border3">
                </div>
                <div class="contact-info">
                <ul>
                    <!--List item elements-->
                    <li>
                        <a href="#number">+84-367044852</a>
                    </li>
                    <li>
                        <a href="#website.com">phathuynh@site.com</a>
                    </li>
                    <li>
                        <a href="#githb">GitHub</a>
                    </li>
                    <li>
                        <a href="#twitter">Linkedin</a>
                    </li>
                    <li>
                        <a href="#spotify">Spotify</a>
                    </li>
                </ul>
                </div>
            </section>
</body>
</html>